<!DOCTYPE html>
<html>
<head>
  <title>Puzzle Team</title>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  

</head>
<body>
  <div id="center-text">
    <img class="notRec" value = "stop-recording" id = "record-button" src="{% static 'img/puzzle_logo.png'%}" alt="Puzzle" style="width: 220px; border-radius: 10px; -webkit-box-shadow: 4px 6px 8px 10px rgba(0,0,0,0.2); -moz-box-shadow: 4px 6px 8px 10px rgba(0,0,0,0.2); box-shadow: 4px 6px 8px 10px rgba(0,0,0,0.2); cursor: pointer;">
      <iframe id="bot-audio" src="http://103.141.140.189:8091/data/end2end_ngocmiu/20210921091803-19a47c0d.wav" allow="autoplay" style="display:none" id="iframeAudio">
      </iframe> 
    <h2 style="font-family: 'Word Sans', sans-serif; font-size: 128px;font-weight: bold;margin-top: 70px;">Puzzle Team</h2>
    <h2 style="color: #21abf3;">Welcome to the Virtual Booking Assistant </h2>
  </div> 
<div id="body"> 
  
<div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">message</i>
  </div>
  
  <div class="chat-box">
    <div class="chat-box-header">
      <div class=".chat-head-img">
        <img src="{% static 'img/puzzle_logo.png'%}" alt="Puzzle" class="img-head">
      </div>
      <div class=".chat-head-text">
        <h1 class="text-head"> ChatBot </h1>
      </div>
      <div class="point"></div>
      <div class="chat-head-icon chat-box-toggle">
        
      </div>
    </div>
    <div class="chat-box-body">
      <div class="chat-logs">
      </div><!--chat-logs-->
    </div>


    <div class="chat-box-bottom">
      <div class="chat-box-bottom-icon">
        <i class="fas fa-bars ico-bot"></i>
      </div>
      <div class="chat-box-bottom-input">
        <form>
          <textarea name="chat" class="input-bottom but-send" placeholder="Type your message..." onclick="" id="chat-input"></textarea>
        <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons ico-bot-send">send</i></button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script type="text/javascript" src="{% static 'js/audio-record.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/chat-websocket.js'%}"></script>

  
</div>
  

</body>
</html>
